.sidebar {
    width: 240px;
    display: flex;
    position: sticky;
    top: 40px;
    margin-right: 80px;
    height: fit-content;
    flex-direction: column;
}

a, li, ul {
    all: unset;
    color: rgb(183, 193, 204);
}

em {

}

.box {
    background-color: #191f2c;
    border: 1px solid #464b55;
    border-radius: 15px;
    margin: 10px 0px;
}

.sidebar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 46px;
    font-size: 17px;
    font-weight: 800;
}

.menu__item {
    font-size: 15px;
    margin: 0px;
    padding: 17px;
}

.item__focus {
    background-color: #202533;
    border-left: 2px solid rgb(207, 207, 207);
    font-weight: 800;
}

.is__dark {
    display: flex;
    margin: 0px
}