.App {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;
}

.start {
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
}

.name {
	background-color :rgb(253, 220, 162);
	padding: 7px 10px;
	margin: 5px;
	border-radius: 20px;

}

p {
	margin: 10px;
	text-align: center;
}

.input-name {
	background-color: rgb(236, 236, 236);
	border-radius: 20px;
	border: none;
	padding: 10px 0px 10px 10px;
	width: 200px;
	margin-bottom: 20px;

}

button {
	border-radius: 20px;
	border: none;
	color: white;
	background-color: rgb(72, 159, 240);
	padding: 10px 5px;
	width: 100px;
}