.alert__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.alert__content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size: 14px;
}